In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("kerala.csv")

In [3]:
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [4]:
df.info

<bound method DataFrame.info of     SUBDIVISION  YEAR   JAN   FEB   MAR    APR    MAY     JUN     JUL     AUG  \
0        KERALA  1901  28.7  44.7  51.6  160.0  174.7   824.6   743.0   357.5
1        KERALA  1902   6.7   2.6  57.3   83.9  134.5   390.9  1205.0   315.8
2        KERALA  1903   3.2  18.6   3.1   83.6  249.7   558.6  1022.5   420.2
3        KERALA  1904  23.7   3.0  32.2   71.5  235.7  1098.2   725.5   351.8
4        KERALA  1905   1.2  22.3   9.4  105.9  263.3   850.2   520.5   293.6
..          ...   ...   ...   ...   ...    ...    ...     ...     ...     ...
113      KERALA  2014   4.6  10.3  17.9   95.7  251.0   454.4   677.8   733.9
114      KERALA  2015   3.1   5.8  50.1  214.1  201.8   563.6   406.0   252.2
115      KERALA  2016   2.4   3.8  35.9  143.0  186.4   522.2   412.3   325.5
116     KERALA   2017   1.9   6.8   8.9   43.6  173.5   498.5   319.6   531.8
117      KERALA  2018  29.1  52.1  48.6  116.4  183.8   625.4  1048.5  1398.9

       SEP    OCT    NOV    DEC   ANNUAL RAINFALL FLOODS
0    197.7  266.9  350.8   48.4            3248.6    YES
1    491.6  358.4  158.3  121.5            3326.6    YES
2    341.8  354.1  157.0   59.0            3271.2    YES
3    222.7  328.1   33.9    3.3            3129.7    YES
4    217.2  383.5   74.4    0.2            2741.6     NO
..     ...    ...    ...    ...               ...    ...
113  298.8  355.5   99.5   47.2            3046.4    YES
114  292.9  308.1  223.6   79.4            2600.6     NO
115  173.2  225.9  125.4   23.6            2176.6     NO
116  209.5  192.4   92.5   38.1            2117.1     NO
117  423.6  356.1  125.4   65.1            4473.0    YES

[118 rows x 16 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [7]:
df.shape

(118, 16)

In [8]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [9]:
df.corr()

C:\Users\U.S\AppData\Local\Temp\ipykernel_9328\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
YEAR,1.000000,-0.225531,0.003879,-0.012842,0.086865,-0.059661,-0.174938,-0.223403,0.044173,0.107655,-0.030223,-0.130129,-0.123643,-0.198048
JAN,-0.225531,1.000000,0.019613,0.078626,0.034807,0.071420,0.189375,0.034423,0.008677,-0.113502,-0.035044,-0.011034,-0.089809,0.118648
FEB,0.003879,0.019613,1.000000,0.245375,0.123706,-0.083500,0.054114,0.005789,0.023259,0.066317,0.053133,-0.162880,-0.127025,0.061457
MAR,-0.012842,0.078626,0.245375,1.000000,0.074014,-0.102961,0.019000,0.018330,0.042411,0.143850,-0.023066,-0.032612,0.026292,0.116103
APR,0.086865,0.034807,0.123706,0.074014,1.000000,-0.114566,0.072990,0.014977,-0.047842,0.012928,0.113172,0.022206,-0.110392,0.112358
MAY,-0.059661,0.071420,-0.083500,-0.102961,-0.114566,1.000000,0.001235,-0.046518,-0.124412,0.116860,0.197102,0.094934,-0.118077,0.314723
JUN,-0.174938,0.189375,0.054114,0.019000,0.072990,0.001235,1.000000,0.094939,-0.014549,-0.052634,0.001156,0.015967,-0.085188,0.453407
JUL,-0.223403,0.034423,0.005789,0.018330,0.014977,-0.046518,0.094939,1.000000,0.154467,0.209441,0.025223,-0.028526,-0.013573,0.651990
AUG,0.044173,0.008677,0.023259,0.042411,-0.047842,-0.124412,-0.014549,0.154467,1.000000,0.098215,-0.181496,-0.112729,0.142090,0.413036
SEP,0.107655,-0.113502,0.066317,0.143850,0.012928,0.116860,-0.052634,0.209441,0.098215,1.000000,-0.032348,-0.027615,-0.011007,0.428344
OCT,-0.030223,-0.035044,0.053133,-0.023066,0.113172,0.197102,0.001156,0.025223,-0.181496,-0.032348,1.000000,-0.024060,-0.039067,0.205861
NOV,-0.130129,-0.011034,-0.162880,-0.032612,0.022206,0.094934,0.015967,-0.028526,-0.112729,-0.027615,-0.024060,1.000000,0.070720,0.148783
DEC,-0.123643,-0.089809,-0.127025,0.026292,-0.110392,-0.118077,-0.085188,-0.013573,0.142090,-0.011007,-0.039067,0.070720,1.000000,0.042967
ANNUAL RAINFALL,-0.198048,0.118648,0.061457,0.116103,0.112358,0.314723,0.453407,0.651990,0.413036,0.428344,0.205861,0.148783,0.042967,1.000000

In [10]:
df['FLOODS'].replace(['YES',"NO"],[1,0],inplace = True )

In [11]:
df.head(5)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,1
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,1
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,1
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,1
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,0

In [13]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [17]:
x = df.iloc[:,1:14]
y = df.iloc[:,-1]

In [18]:
x

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4
1,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5
2,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0
3,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3
4,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2
114,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,252.2,292.9,308.1,223.6,79.4
115,2016,2.4,3.8,35.9,143.0,186.4,522.2,412.3,325.5,173.2,225.9,125.4,23.6
116,2017,1.9,6.8,8.9,43.6,173.5,498.5,319.6,531.8,209.5,192.4,92.5,38.1
117,2018,29.1,52.1,48.6,116.4,183.8,625.4,1048.5,1398.9,423.6,356.1,125.4,65.1

In [19]:
y

0      1
1      1
2      1
3      1
4      0
      ..
113    1
114    0
115    0
116    0
117    1
Name: FLOODS, Length: 118, dtype: int64

In [20]:
best_features = SelectKBest(score_func = chi2,k=3)
fit= best_features.fit(x,y)

In [21]:
df_scores = pd.DataFrame(fit.scores_)
df_columns = pd.DataFrame(x.columns)

In [22]:
features_scores= pd.concat([df_columns, df_scores], axis=1)
features_scores.columns= ['Features', 'Score']
features_scores.sort_values(by = 'Score')

   Features        Score
4       APR     2.498771
2       FEB     2.571626
0      YEAR     2.866463
12      DEC    11.609546
10      OCT    12.650485
3       MAR    21.696518
1       JAN    48.413088
11      NOV   284.674615
5       MAY   656.812145
8       AUG   739.975818
9       SEP  1000.379273
6       JUN  1218.856252
7       JUL  1722.612175

In [24]:
X= df[['SEP', 'JUN', 'JUL']] 
Y= df[['FLOODS']]

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=100)

In [26]:
x_train

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
76,1977,1.1,15.7,28.3,102.3,306.4,599.6,753.3,234.2,201.3,437.0,361.7,6.7
40,1941,15.9,4.6,12.7,101.9,417.5,797.6,517.9,458.5,257.9,221.6,220.5,84.6
50,1951,6.6,6.5,41.6,175.9,148.5,774.1,544.6,190.6,313.8,250.6,229.6,23.2
109,2010,18.6,1.0,31.4,138.9,190.6,667.5,629.0,356.0,275.6,441.4,335.1,46.8
57,1958,4.4,19.3,57.3,135.1,353.5,713.3,622.7,526.6,86.1,191.0,206.1,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1988,0.8,17.5,38.1,177.6,157.2,511.3,502.8,379.8,451.7,68.5,67.0,31.1
103,2004,2.4,8.1,37.9,113.2,610.9,673.4,385.4,417.9,192.8,320.6,120.7,2.7
67,1968,7.3,30.5,89.2,133.3,90.0,696.4,1308.9,380.7,325.4,178.9,119.4,32.7
24,1925,4.1,16.5,76.9,93.4,258.2,688.8,593.5,554.1,158.8,295.4,223.7,98.8
8,1909,54.1,11.8,61.3,93.8,473.2,704.7,782.3,258.0,195.4,212.1,171.1,32.3

In [27]:
x_test

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
84,1985,61.2,6.1,29.3,66.6,254.2,828.7,388.9,315.3,117.6,204.0,74.9,44.0
85,1986,5.6,18.7,11.2,63.1,126.7,597.9,324.8,340.3,235.4,165.5,194.7,9.5
37,1938,0.3,79.0,53.3,164.5,179.6,681.6,648.6,287.9,223.2,223.7,69.5,22.9
45,1946,1.8,5.4,108.4,139.8,83.0,919.0,671.7,695.6,199.4,266.1,273.0,202.3
97,1998,6.0,2.1,8.1,61.1,151.6,732.5,641.4,371.8,517.6,444.8,135.0,79.4
26,1927,18.8,35.3,49.6,86.5,265.4,720.2,888.2,315.0,335.6,135.8,137.6,6.8
101,2002,4.7,8.7,35.7,117.3,330.8,503.1,318.7,438.2,99.0,511.7,137.5,2.1
112,2013,3.9,40.1,49.9,49.3,119.3,1042.7,830.2,369.7,318.6,259.9,154.9,17.0
21,1922,30.5,21.4,16.3,89.6,293.6,663.1,1025.1,320.6,222.4,266.3,293.7,25.1
33,1934,74.5,1.7,47.7,92.4,106.7,852.9,415.0,337.2,48.4,335.9,93.4,4.9
11,1912,1.9,15.0,11.2,122.7,217.3,948.2,833.6,534.4,136.8,469.5,138.7,22.0
46,1947,22.2,27.3,98.0,142.2,85.7,556.1,669.3,739.6,394.5,183.7,32.4,47.0
96,1997,2.1,1.5,36.1,60.6,133.6,544.2,970.5,536.0,292.2,288.9,298.4,88.4
25,1926,28.6,5.8,23.1,55.8,222.6,563.9,885.2,536.0,322.7,216.7,88.8,16.2
32,1933,1.0,9.3,36.9,139.5,738.8,859.3,773.4,479.5,469.7,397.0,126.1,42.3
99,2000,11.7,57.8,21.5,96.3,124.5,633.8,343.2,566.5,195.8,214.2,78.1,69.1
108,2009,3.3,1.5,62.6,69.0,191.6,438.2,924.9,269.3,326.5,205.2,274.4,44.2
51,1952,5.2,48.2,20.8,112.2,214.6,576.7,430.0,413.6,57.4,339.6,49.6,66.9
29,1930,10.8,10.8,39.0,102.7,404.9,633.1,401.7,273.4,411.5,433.9,207.0,89.2
64,1965,9.1,0.9,28.3,109.8,214.5,597.7,465.1,296.1,150.1,183.7,131.7,155.5
28,1929,12.8,29.8,58.9,210.7,148.0,946.6,844.0,293.9,268.9,350.4,158.2,39.4
90,1991,10.9,4.4,33.2,97.0,113.4,1096.1,905.5,465.5,48.5,307.8,99.9,2.3
89,1990,14.9,4.8,18.0,41.8,488.5,528.6,635.4,370.8,103.3,323.2,158.8,5.2
54,1955,4.2,6.3,28.2,125.9,544.2,782.4,392.8,236.0,438.5,378.2,178.1,19.8
35,1936,1.2,16.5,116.0,34.0,466.5,620.8,672.1,367.9,286.7,231.7,211.1,18.6
43,1944,6.4,26.6,61.6,61.6,212.7,498.9,614.1,230.7,155.0,289.0,244.1,89.2
73,1974,1.6,5.4,16.0,128.0,221.5,266.9,1004.2,533.6,383.6,142.1,61.0,3.6
80,1981,7.0,6.8,28.5,75.9,166.3,912.4,489.8,495.6,376.6,265.0,138.6,43.3
36,1937,6.5,21.2,58.7,175.5,137.1,485.6,970.5,281.2,139.8,401.9,121.0,19.1
75,1976,0.1,1.5,21.0,134.5,75.8,196.8,641.5,342.6,116.2,221.3,286.7,30.8
22,1923,24.7,0.7,78.9,43.5,80.0,722.5,1008.7,943.0,254.3,203.1,83.9,41.6
82,1983,0.2,1.5,0.9,13.1,76.0,322.8,583.2,579.9,421.1,136.2,116.5,69.1
113,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2
5,1906,26.7,7.4,9.9,59.4,160.8,414.9,954.2,442.8,131.2,251.7,163.1,86.0
105,2006,8.1,0.5,90.7,65.3,521.2,482.4,804.0,432.6,474.8,376.4,162.8,1.8
23,1924,19.3,2.9,66.6,111.0,185.4,1011.7,1526.5,624.0,289.1,176.5,162.9,50.4
104,2005,19.8,7.0,25.3,205.9,134.8,619.2,832.7,291.0,414.7,240.1,184.3,56.4
100,2001,16.5,28.3,7.0,238.0,238.6,715.3,598.5,361.3,216.8,319.6,181.0,10.1
20,1921,43.0,4.7,15.0,171.3,104.1,489.1,639.8,641.9,156.7,302.4,136.2,15.8
41,1942,2.4,4.7,23.2,180.3,191.9,813.6,828.8,329.3,99.8,374.4,84.7,117.9
6,1907,18.8,4.8,55.7,170.8,101.4,770.9,760.4,981.5,225.0,309.7,219.1,52.8
3,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3
12,1913,3.1,5.2,20.7,75.7,198.8,541.7,763.2,247.2,176.9,422.5,109.9,45.8
77,1978,3.3,14.7,31.4,73.9,396.8,758.1,686.7,516.8,119.4,171.0,365.6,39.0
62,1963,30.2,24.8,69.8,96.3,157.1,393.3,720.2,511.0,223.9,282.6,93.4,48.4
78,1979,2.4,30.0,11.7,42.0,127.7,582.9,662.2,383.7,211.7,163.8,261.7,23.3
74,1975,5.2,21.4,63.4,123.8,162.2,864.4,531.3,675.9,457.7,368.9,204.3,19.9
68,1969,2.7,6.4,19.4,117.2,227.4,550.5,818.8,284.8,216.4,235.6,119.4,66.3

In [28]:
y_train

76     1
40     1
50     0
109    1
57     1
      ..
87     0
103    0
67     1
24     1
8      1
Name: FLOODS, Length: 70, dtype: int64

In [29]:
y_test

84     0
85     0
37     0
45     1
97     1
26     1
101    0
112    1
21     1
33     0
11     1
46     1
96     1
25     1
32     1
99     0
108    0
51     0
29     1
64     0
28     1
90     1
89     0
54     1
35     1
43     0
73     0
80     1
36     0
75     0
22     1
82     0
113    1
5      0
105    1
23     1
104    1
100    0
20     0
41     1
6      1
3      1
12     0
77     1
62     0
78     0
74     1
68     0
Name: FLOODS, dtype: int64

In [30]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
y_pred = lr.predict(x_test)

In [33]:
print(y_pred)

[0 0 0 1 1 1 0 1 1 0 1 1 1 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 0 0 1 1 1
 1 0 1 1 1 0 1 0 0 1 0]

In [34]:
from sklearn import metrics
from sklearn.metrics import classification_report

In [38]:
print('Accuracy: ', metrics.accuracy_score(y_test, y_pred))
print('Recall: ' ,metrics.recall_score(y_test, y_pred, zero_division=1))
print("Precision: ",metrics.precision_score(y_test, y_pred, zero_division=1))
print("CL Report: " ,metrics.classification_report(y_test, y_pred, zero_division=1))

Accuracy:  0.9375
Recall:  0.9230769230769231
Precision:  0.96
CL Report:                precision    recall  f1-score   support

           0       0.91      0.95      0.93        22
           1       0.96      0.92      0.94        26

    accuracy                           0.94        48
   macro avg       0.94      0.94      0.94        48
weighted avg       0.94      0.94      0.94        48