# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

Plan :

Creating a Tuple
Accessing items
Editing items
Adding items
Deleting items
Operations on Tuples
Tuple Functions

In [1]:
# empty
t1 = ()
print(t1)

# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))

# homo
t3 = (1,2,3,4)
print(t3)

# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)

# tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

# Accessing Items

Indexing
Slicing

In [2]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [3]:
t5[-1][0]

4

# Editing items

In [4]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

# Adding items

In [5]:
print(t3)
# not possible

(1, 2, 3, 4)

# Deleting items

In [6]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [7]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [8]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

# Operations on Tuples

In [11]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)

# membership
1 in t1

# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

# Tuple Functions

In [13]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

4

In [14]:
sum(t)

10

In [15]:
min(t)

1

In [16]:
max(t)

4

In [17]:
sorted(t,reverse=True)

[4, 3, 2, 1]

In [18]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [19]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

Difference between Lists and Tuples

Syntax
Mutability
Speed
Memory
Built in functionality
Error prone
Usability

In [22]:
import time 

L = list(range(100000))
T = tuple(range(100000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 0.0415806770324707
Tuple time 0.004228830337524414